

    <!-- Secondary Header -->
    <section class="header" role="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 text-center helper-xs-mt2">
                      <h2>about us</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQ -->
    <section class="about" role="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h3>Capture what’s on your mind</h3>
                    <p>
                        This was made mobile-first, so although it's not in the App Store it supports touch gestures like swiping, dragging and tapping, Keep works on your phone, tablet and computer. Everything you add to Keep syncs across your devices so your important stuff is always with you. This was made mobile-first, so although it's not in the App Store it supports touch gestures like swiping, dragging and tapping, Keep works on your phone, tablet and computer. Everything you add to Keep syncs across your devices so your important stuff is always with you.
                    </p>
                    <p>
                        This was made mobile-first, so although it's not in the App Store it supports touch gestures like swiping, dragging and tapping, Keep works on your phone, tablet and computer. Everything you add to Keep syncs across your devices so your important stuff is always with you. This was made mobile-first, so although it's not in the App Store it supports touch gestures like swiping, dragging and tapping, Keep works on your phone, tablet and computer. Everything you add to Keep syncs across your devices so your important stuff is always with you.
                    </p>
                    <p>
                        This was made mobile-first, so although it's not in the App Store it supports touch gestures like swiping, dragging and tapping, Keep works on your phone, tablet and computer. Everything you add to Keep syncs across your devices so your important stuff is always with you.
                    </p>

                </div>
                <div class="col-xs-12 col-md-4 helper-xs-mt2">
                   <figure>
                        <img src="assets/img/about/01.jpg" alt="" class="img-responsive img-rounded">
                   </figure>
                </div>
            </div>
        </div>
    </section>
