/** import awesome web fonts */


/*
@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url(https://fonts.googleapis.com/css?family=Cantata+One);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
*/

@font-face {
    font-family: "Janna-LT-W20-Regular";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/a9c47d30-0eca-434f-8082-ac141c4c97b3.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/a9c47d30-0eca-434f-8082-ac141c4c97b3.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/26c24286-5aab-4747-81b9-54330e77fb14.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9c4c7fff-85b6-442f-9726-af5f49d49e53.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/a24f53ee-e15e-4931-89a3-b6f17fbfcd72.svg#a24f53ee-e15e-4931-89a3-b6f17fbfcd72") format("svg");
}


/** base */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body {
    font-family: 'Janna-LT-W20-Regular', sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Janna-LT-W20-Regular', sans-serif;
}

p {
    font-size: 15px;
    line-height: 24px;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #79a8a9;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #79a8a9;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #aacfd0;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #000;
    outline: none
}


/** bootstrap */

.btn {
    border-radius: 0 !important;
    text-transform: capitalize !important;
}

.btn-white {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #999 !important;
}

.btn-white:hover {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #999;
}

.btn-green {
    background-color: #79a8a9 !important;
    border-color: #79a8a9 !important;
    color: #fff !important;
}

.btn-green:hover {
    background-color: #1f4e5f !important;
    border-color: #1f4e5f!important;
    color: #fff;
}

.form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: inherit;
    color: #999;
    border: 1px solid #eee;
}

.form-control:focus {
    border-color: #bbb;
    box-shadow: none;
    outline: 0 none;
    color: #777
}

.form-control::-moz-placeholder {
    color: #bbb;
}


/** helpers */
.errorMessage {
    color: #f40968;
}

.btn-create {
    background-color: white;
    border: 1px solid #cddbee;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 102, 0.1);
    padding: 4px 13px 4px !important;
    margin-top: 10px;
    margin-right: 10px;
    color: #79a8a9 !important;
}

.helper-mt {
    margin-top: 60px
}

.helper-right {
    text-align: left;
}

.affix-top {
    position: relative;
}

.affix {
    top: 10px;
}

.affix,
.affix-bottom {
    width: 263px;
}

.affix-bottom {
    position: absolute;
}

@media (min-width:1200px) {
    .affix,
    .affix-bottom {
        width: 263px;
    }
}


/** navbar */

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
    background: #fff;
    border: 0;
    margin-bottom: 0;
    border-bottom: 0px solid #fcda05
}

.navbar .navbar-brand {
    color: #999;
    text-transform: capitalize;
    font-family: 'Janna-LT-W20-Regular', sans-serif;
    font-size: 24px
}

.navbar .navbar-brand:hover {
    background: inherit;
    color: #888;
}

.navbar .navbar-brand i {
    vertical-align: top;
}

.navbar .navbar-nav > li > a {
    color: #999;
    font-size: 16px;
    text-transform: capitalize;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
    color: #000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: inherit;
    color: #999
}

.navbar-default .navbar-nav > .active > a::after,
.navbar-default .navbar-nav > .active > a:focus::after,
.navbar-default .navbar-nav > .active > a:hover::after {
    display: block;
    height: 1px;
    width: 100%;
    margin: 5px 0 0;
    content: ' ';
    background-color: #999;
}


/* header */

.header {
    background-color: #fcda05;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.header h1 {
    color: #fff
}


/** lists */

.lists {
    padding-top: 40px;
    padding-bottom: 40px;
}

.lists .list {
    position: relative;
}

.lists .list a {
    color: #79a8a9;
    display: block;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #aacfd0;
    -webkit-transition: background-color .4s linear, background-color .4s linear;
    -moz-transition: background-color .4s linear, background-color .4s linear;
    -o-transition: background-color .4s linear, background-color .4s linear;
    -ms-transition: background-color .4s linear, background-color .4s linear;
    transition: background-color .4s linear, background-color .4s linear;
    -webkit-transition: color .4s linear, color .4s linear;
    -moz-transition: color .4s linear, color .4s linear;
    -o-transition: color .4s linear, color .4s linear;
    -ms-transition: color .4s linear, color .4s linear;
    transition: color .4s linear, color .4s linear;
    box-shadow: 0 2px 2px rgba(171, 207, 209, .4)
}

.lists .list.selected a,
.lists .list.selected a:hover,
.lists .list.selected a:focus,
.lists .list a:hover,
.lists .list a:focus {
    background-color: inherit;
    border-color: #999;
    color: #777;
}


/** faq */

.faq {
    background: #f4f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    display: none
}

.faq h3 {
    color: #999;
    margin-bottom: 20px
}


/* page */

.page {
    padding-top: 40px;
    padding-bottom: 40px;
}

.page h4 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #666;
}

.page hr {
    border: none;
    margin-bottom: 40px
}

.page p {
    text-align: justify;
    color: #999
}


/** footer */

.footer {
    border: 5px solid #fcda05;
    border-width: 3px 0 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer a {
    color: #8d9aa5
}

.footer a:hover {
    color: #000;
}

.footer p {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #999;
}

.footer h4 {
    font-size: 16px;
    color: #79a8a9;
}

.footer p::after {
    background: #eee;
    content: " ";
    display: block;
    height: 3px;
    margin: 6px 0;
    width: 40px;
}

.footer i {
    font-size: 16px
}

.footer dt {
    padding-bottom: 15px;
    color: #79a8a9;
    font-size: 16px
}

.footer dd {
    padding-bottom: 2px;
}


/** listDetails */

.sidebar {
    margin-top: 0px
}
.sidebar .block {
    border: 2px solid #eee;
    padding: 1em
}

.sidebar .navigation {
    border: 1px solid #eee;
}
.sidebar .navigation h4 {
    margin-bottom: 10px;
    color: #999

}
.sidebar .navigation h4::after {
    display: block;
    background-color: #eee;
    height: 2px;
    width: 60px;
    margin: 10px 0 0;
    content: ' ';
}

.sidebar .navigation li {
    border-bottom: 1px solid #eee;
}

.sidebar .navigation li:last-child {
    border: 0
}

.sidebar .navigation a {
    color: #999;
    padding: 10px;
    font-size: 16px
}

.sidebar .navigation a:hover,
.sidebar .navigation a:focus {
    background-color: #eee
}

.sidebar .navigation i {
    vertical-align: baseline;
    padding-left: 10px;
    font-size: 12px
}

.sidebar address {
    direction: ltr;
    text-align: right;
    padding-top: 10px
}
.sidebar address a {
    padding: 0 !important
}
.sidebar address a:hover {
    color: #000;
    background: transparent !important
}




.listDetails {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}

.listDetails .nav > li > a {
    color: #888;
    background-color: inherit;
}

.listDetails .nav > li > a:focus,
.listDetails .nav > li > a:hover {
    color: #fff;
    background-color: #fcda05;
}

.listDetails .nav > .active > a,
.listDetails .nav > .active > a:focus,
.listDetails .nav > .active > a:hover {
    color: #fff;
    background-color: #fcda05;
}

.listDetails .content {
    padding: 1.5em;
}

.listDetails .widget-start {
    border: 0px solid #faf8f8;
    /* padding: 1em;
    border: 1px solid #faf8f8;
    border-width: 0 0 3px 0;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;*/
}

.listDetails .widget-start h2 {
    text-transform: capitalize;
    font-family: 'Janna-LT-W20-Regular', sans-serif;
    color: #999;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    font-size: 18px
}

.listDetails .widget-start h2::after {
    display: block;
    background-color: #999;
    height: 2px;
    width: 60px;
    margin: 10px 0 0;
    content: ' ';
}

.listDetails .widget-filter {
    border: 3px solid #eee;
    margin-top: 10px;
    display: none
}

.listDetails .widget-links {
    border: 1px solid #faf8f8;
    border-width: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.listDetails .widget-links li {
    border-bottom: 1px solid #eee;
}

.listDetails .content {
    border: 0px solid #eee;
    padding-top: 50px
}

.listDetails .sidebar input {
    border: 1px solid #999;
    width: 192px !important
}



/* page404 */

.page404 {
    padding-top: 40px;
    padding-bottom: 40px;
}


/* join */

.join {
    padding-top: 80px;
    padding-bottom: 80px;
}

.join .sidebar {
    background-color: #fff;
    padding: 0em;
}

.join .sidebar h3 {
    padding-top: 0;
}

.join .nav > li > a {
    color: #888;
    background-color: inherit;
}

.join .nav > li > a:focus,
.join .nav > li > a:hover {
    color: #fff;
    background-color: #fcda05;
}

.join .nav > .active > a,
.join .nav > .active > a:focus,
.join .nav > .active > a:hover {
    color: #fff;
    background-color: #fcda05;
}

.join .widget-tools {
    border: 1px solid #eee;
    border-width: 1px;
    margin-top: 10px
}

.join .widget-tools li {
    border-bottom: 1px solid#eee;
    padding-bottom: 0px
}

.join .widget-tools a {
    font-size: 13px;
    text-transform: capitalize;
    padding-bottom: 4px;
    color: #1f4e5f !important;
    padding: 1em
}

.join .widget-tools a:hover {
    color: #000 !important;
    text-decoration: underline;
}

.join .widget-tools i {
    vertical-align: baseline;
    padding-left: 10px;
    font-size: 12px
}


/* contributors */

.contributors {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.contributors .heading:after {
    background: #eee;
    content: " ";
    display: block;
    height: 2px;
    margin: 6px auto;
    width: 40px;
}

.contributors h6 {
    font-size: 16px
}

.contributors img {
    width: 120px;
    height: 120px;
}

.contributors .item {
    margin-bottom: 40px
}

.toggle {
    outline: 0 !important;
}

.listNameh2 {
    text-align:center !important;
}